<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itheima.reggie.mapper.CategoryMapper">

    <resultMap id="CategoryMap" type="com.itheima.reggie.entity.Category">
        <result column="update_time" property="updateTime"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>

    <insert id="saveCategory"  keyColumn="id" keyProperty="id" parameterType="com.itheima.reggie.entity.Category" useGeneratedKeys="true">
       insert into category (create_user,id,type,name,sort,create_time,update_time,update_user)
       values (#{createUser},#{id},#{type},#{name},#{sort},#{createTime},#{updateTime},#{updateUser})
    </insert>

</mapper>